<launch>
  <arg name="use_small_scenario" default="true" doc="Run small scenario, otherwise large."/>

  <group if="$(arg use_small_scenario)">
    <rosparam file="$(find radio_localization)/config/small_scenario.yaml" command="load"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find radio_localization)/config/small_scenario.rviz"/>
  </group>
  <group unless="$(arg use_small_scenario)">
    <rosparam file="$(find radio_localization)/config/large_scenario.yaml" command="load"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find radio_localization)/config/large_scenario.rviz"/>
  </group>
  
  <node pkg="radio_localization" type="origin_navsatfix_publisher.py" name="origin_navsatfix_publisher"/>
  <node pkg="radio_localization" type="marker_publisher.py" name="marker_publisher"/>
  <node pkg="radio_localization" type="odometry_republisher.py" name="odometry_republisher"/>
</launch>
